{% extends 'main/sidenav.html' %}
{% load static from staticfiles %}
{% block content1 %}
<style xmlns:https="http://www.w3.org/1999/xhtml">
    .card{
    border:none;}
     th{
    font-family: "Trebuchet MS", Arial, Verdana;

  padding: 3px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDC1A7;
  border:1px solid #fff;
  background-color: #c4c1c5;
  color: #fff}
     table {
  width: auto;
  border: 2px solid #C5B798;
  margin-top: 15px;
  margin-bottom: 25px;

}
td {
  border: 2px solid #CDC1A7;
  padding: 2px;
  text-align:center;
}


      .scrollit {
    height:465px;
    width: auto;
    overflow:auto;
    margin:1px;
    text-align:center;

}
hr{
margin:5px;
padding:0px;
border:1px solid light;
}
    .color{
background-color: rgb(218, 218, 218);
}
th,table {
font-family: "Times New Roman", Times, serif;
text-align:center;
font-size:13.4px;
border: 2px solid #787878;
}

button{
background-color:transparent;
text-decoration:none;
color:black;
padding:20px;
border:0;
border-radius:1px;
}
* {
box-sizing: border-box;
}





#myTable tr {
border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover{
background-color: #f1f1f1;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
}
.z{
width: 300px;
height: 80px;
padding-right: 20px;
padding-left: 30px;
}
.p {

-webkit-appearance: button;
-webkit-writing-mode: horizontal-tb !important;
 display: inline-block;
 width:190px;
 height:78px;
 margin: 0em;
 padding: 0px;
 border: none;
      border-radius: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.a .card-body{

width: 180px;
height:78px;
color:black;
padding:1em;
}
.a .card{
font-size: 12px;
padding-left: 0px;
width: 190px;
height:78px;
    border-radius: 8px;
    border-color: transparent;

}

.a .card:hover{

box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility:visible;
  width: 120px;
  background-color: black;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}
    #mySidenav a {
        position: fixed;
        right: 40px;
        padding: 5px;
        height: 40px;
        text-decoration: none;
        font-size: 10px;
        z-index: 1;
        overflow-x: hidden;
        background-color: white;

    }
    </style>

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
 $( document ).ready(function() {


am4core.useTheme(am4themes_animated);

var chart = am4core.create("chartdiv", am4charts.PieChart);
chart.hiddenState.properties.opacity = 0;

chart.data = [
  {
    country: "No Data",
    value: 260
  },

  {
    country: "Stop",
    value: 200
  },
  {
    country: "Idle",
    value: 165
  },
  {
    country: "Running",
    value: 139
  },

];

var series = chart.series.push(new am4charts.PieSeries());
series.dataFields.value = "value";
series.cursorTooltipEnabled = "false";
series.dataFields.category = "country";
series.slices.template.cornerRadius = 6;
series.colors.step = 4;

series.hiddenState.properties.endAngle = -60;

chart.legend = new am4charts.Legend();

var label = chart.createChild(am4core.Label);

label.fontSize = 10;
label.align = "right";
label.isMeasured = false;
label.x = 70;
label.y = 20;

    });

</script>
<style>#chartdiv {
  width: 60%;
  height: 150px;
}


</style>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<div id="chartdiv"></div>
    <div class="container-fluid a" style="position:relative;">
<br>
<div class="row">
<div class="col-lg-2 card  "><form class = '' method='GET'><button style="background-color: transparent;" class = 'p' name="totalbutton"  type='submit'>
<div class="card-body "><img class="card-img-left" src="{% static 'images/miniwhite.png'%}" height="45px" width="100px" >
 &nbsp; &nbsp;<span style="font-size: 25px">{{ total }} </span><b style="padding-left:50px;">Total</b></div></button>
</form></div>

<div class="col-lg-2 card ">
<form class = '' method='GET'><button class = 'p' name="runningbutton" type='submit' style="background-color: transparent"><div class="card-body"><img class="card-img-left" src="{% static 'images/minigreen.png'%}" height="40px" width="90px" >
   &nbsp;&nbsp; &nbsp;&nbsp;<span style="font-size: 25px">{{ running }} </span><b style="padding-left:50px;">Running</b></div></button>
</form></div>

<div class="col-lg-2 card " >
<form method='GET'><button class = 'p' name="idlebutton" type='submit' style="background-color: transparent"><div class="card-body " ><img class="card-img-left" src="{% static 'images/miniyellow.png'%}" height="40px" width="100px">
 &nbsp;&nbsp;&nbsp;  <span style="font-size: 25px">{{ idle }} </span><b style="padding-left:50px;">Idle</b></div></button>
</form></div>

<div class="col-lg-2 card"><form class = '' method='GET'><button class="p" name="stopbutton" type='submit' style="background-color: transparent" >
<div class="card-body "><img class="card-img-left" src="{% static 'images/minired.png'%}" height="40px" width="100px" >
&nbsp;&nbsp;<span style="font-size: 25px">{{ stop }} </span><b style="padding-left:50px;margin-bottom: 30px;">Stop</b></div>
</button></form></div>
<div class="col-lg-2 card "><button class="p" style="background-color: transparent">
<div class="card-body"><img class="card-img-left" src="{% static 'images/miniblue.png'%}" height="40px" width="100px" style="padding-right:10px; ">
  &nbsp; &nbsp;&nbsp; <span style="font-size: 20px">0</span><b style="padding-left:30px;margin-bottom: 30px;"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Data</b></div></button></div>
 <div class="col-lg-2">  </div>

<div  class="container-fluid scrollit">
    <table   cellpadding="5" cellspacing="5" ><tr>
       <th>S.no</th>
        <th>Status</th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/driver_name.png" style="width:16px;height:16px;"><br>Driver</a></th>
        <th>Branch</th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/vehicle_information.png" style="width:16px;height:16px;"><br>Vehicle</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/total_running_km.png" style="width:16px;height:16px;"><br>Distance</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/total_running_duration.png" style="width:16px;height:16px;"><br>Running</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/total_idle_duration.png" style="width:16px;height:16px;"><br>Idle</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/total_stop_duration.png" style="width:16px;height:16px;"><br>Stop</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/duration.png" style="width:16px;height:16px;"><br>Duration</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/speed.png" style="width:16px;height:16px;"><br>Speed</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/odometer.png" style="width:16px;height:16px;"><br>Odometer</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/location.png" style="width:16px;height:16px;"><br>Latitude</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/location.png" style="width:16px;height:16px;"><br>Longitude</a></th>
        <th><a  href="#" style="text-decoration:none;color:rgb(0, 0, 0);">Geofence</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/updated_time.png" style="width:16px;height:16px;"><br>DateTime</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/alert.png" style="width:16px;height:16px;"><br>Alert</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/ignition_status.png" style="width:16px;height:16px;"><br>IGN</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/power_status.png" style="width:16px;height:16px;"><br>PWR</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/ac_status.png" style="width:16px;height:16px;"><br>AC</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/gps_status.png" style="width:16px;height:16px;"><br>GPS</a></th>
        <th><a href="#" style="text-decoration:none;color:rgb(0, 0, 0);"><img src="http://13.127.144.213//Themes//HR%20Blue/images/OverviewHeaderIcon/fuel.png" style="width:16px;height:16px;"><br>Fuel</a></th>
        </tr>

{% for i in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.status }}</td>
              <td>{{ i.name }}</td>
              <td>India</td>
              <td>{{ i.plateNumber }}</td>
              <td>*</td>
              <td>00.00</td>
              <td>00.00</td>
              <td>00.00</td>
              <td>00.00</td>
              <td>{{ i.speed }}</td>
              <td>{{ i.odometer }}</td>
              <td>{{ i.latitude }}</td>
              <td>{{ i.longitude }}</td>
              <td>{{ i.status }}</td>
              <td>12-9-2019</td>
              <td>--</td>
              <td>0</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
            <td>--</td>
        </tr>
         {% endfor %}

    </table>
</div>

</div></div>
        <!-- Modal footer -->



{% endblock content1 %}