{% extends 'main/sidenav.html' %}
{% load static %}
{% block content1 %}
    <style>
       #map-canvas {
        height: 100%;
        margin-top: 3px;
        padding: 0px;

      }


       .controls {
       background-color:#fff;
        margin-top: 6px;
        margin-left: 0px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 28px;
        outline: none;
         color: #000;
        width:180px;

        padding: 5px 11px 0px 11px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmXhcX8z4d4GxPxIiklwNvtqxcjZoWsWU&v=3.exp&sensor=false&libraries=drawing,geometry"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div style="display: none">

<select id="vno"  class="controls"
        name="search" ><option>Select Vehicle No..</option></select>
    </div>
    <div id="map-canvas"></div>
    <div id="distanceSign" style="display:none;margin-top:30px;">
        <div style="width:120px; height:30px">
            <span>Radius :</span><span class="radiusValue"></span><span>km</span>
        </div>
    </div>
    <script>
        var map;
        var currentOverlay;
        var mouseOverListenerHandle = null;//this is to hide radius
        var infoWindow;
        var locations={{mygeo|safe}};
function initialize() {
  var mapOptions = {
    center: {lat: 22.9734, lng: 78.6569},
          zoom: 5,
          draggableCursor:'default',
  };

  // starting location of drawn overlays for distance/area calculations
  var firstLatLng;
  // the current completed overlay

  
  var overlayTypes = [
    google.maps.drawing.OverlayType.CIRCLE
//	,google.maps.drawing.OverlayType.RECTANGLE
//    ,google.maps.drawing.OverlayType.POLYGON
  ];
  
   map = new google.maps.Map(document.getElementById('map-canvas'),
    mapOptions);
     var vno=document.getElementById("vno");
map.controls[google.maps.ControlPosition.TOP_CENTER].push(vno);
    vno.addEventListener("click", function(event){hinter(event)});

  // cycle through the overlayTypes
  function nextOverlayType() {
    var next = overlayTypes.shift();
	overlayTypes.push(next);
	return next;
  }

  // deactivate the Drawing manager and listen for clicks on the new overlay
  function overlayCompleteListener (event) {
    console.log('overlayCompleteListener');
    drawingManager.setDrawingMode(null);
	currentOverlay = event.overlay;
	currentOverlay.addListener('click', overlayClickListener);
	currentOverlay.addListener('radius_changed', showRadius);
	currentOverlay.addListener('center_changed', showRadius);
	showRadius();


  };


  function showRadius(){
      console.log('showRadius');
      if(infoWindow != null){
          infoWindow.setMap(null);
      }
      $("#map-canvas").unbind("mousemove");
      $("#distanceSign SPAN.radiusValue").text((currentOverlay.getRadius()/1000.0).toFixed(3));
      var content = $("#distanceSign").html();
      infoWindow = new google.maps.InfoWindow({
          content:content,
          position:currentOverlay.getCenter()
      });
      infoWindow.open(map);
      $("#map-canvas").mousemove(function (e) {
          infoWindow.setMap(null);
      });

  }
  
  // remove the overlay
  function overlayClickListener (event) {
    console.log('overlayClickListener');
    event.stop();
    if (typeof event.path === 'undefined') { // ignore clicks on polygon paths
	  drawingManager.setDrawingMode(nextOverlayType());
	  currentOverlay.setMap(null);
	  google.maps.event.clearInstanceListeners(currentOverlay);
	  currentOverlay = null;
	}
  };

  var drawingManager = new google.maps.drawing.DrawingManager({
    drawingMode: nextOverlayType(),
    drawingControl: false,
    markerOptions: {
      icon: 'images/beachflag.png'
    },
    circleOptions: {
      editable: true,
      fillColor: 'rgba(255, 99, 71, 0.5)',
      fillOpacity: .6,
      strokeWeight: 2,
	    strokeColor: '#ff0000',
        clickable: true,

         zIndex: 1
    },
	polygonOptions: {
	  editable: true
	},
	polylineOptions: {
	  editable: true
	},
	rectangleOptions: {
	  editable: true
	}


  });



  drawingManager.setMap(map);
  drawingManager.addListener('overlaycomplete', overlayCompleteListener);

}
 function hinter(event) {
    var input = event.target;

    var min_characters = 0;

    if (input.value.length < min_characters ) {
        return;
    } else {


var i=0;
        for(i in locations){

 var x = document.createElement("option");
  x.setAttribute("value", locations[i].plate);
  var t = document.createTextNode(locations[i].plate);
  x.appendChild(t);
  document.getElementById("vno").appendChild(x);

            }

            }

        };


google.maps.event.addDomListener(window, 'load', initialize);

    </script>
<script>
$(document).ready(function(){
var selectedvehicle="";
    var icons = {
Idle: {
name: 'Idle',
icon: '{% static 'images/yellowcar.png'%}'
},
Running: {
name: 'Running',
icon: '{% static 'images/greencar.png'%}'
},
Stop: {
name: 'Stop',
icon: '{% static 'images/redcar.png'%}'
},
NOData: {
name: 'Nodata',
icon: '{% static 'images/bluecar.png'%}'
}
};
  $("select#vno").change(function(){

         selectedvehicle = $(this).children("option:selected").val();
var marker = locations.map(function(location, i) {
if(location.plate==selectedvehicle){
return new google.maps.Marker({

position: location,
zoom:10,
icon: icons[location.status].icon,
title: location.plate,
map:map
});
}
});   });})
</script>


  {% endblock %}